altair
annotated-types
anyio
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
distro
faiss-cpu
Flask
gitdb
GitPython
h11
httpcore
httptools
httpx
idna
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
MarkupSafe
narwhals
numpy
openai
packaging
pandas
pillow
protobuf
pyarrow
pydantic
pydantic_core
pydeck
python-dateutil
python-dotenv
python-multipart
referencing
requests
rpds-py
six
smmap
sniffio
starlette
streamlit
tenacity
toml
tqdm
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
watchdog
websockets
Werkzeug
opencv-python-headless
instructor
pymupdf